@font-face {
  font-family: "Fira Sans";
  src: url("fonts/firasans/firasans-light.eot");
  src: local("Fira Sans Regular"), url("../fonts/firasans/firasans-light.woff") format("woff"), url("../fonts/firasans/firasans-light.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

h2 {
    border-bottom: 1px solid lightgrey;
}

div.callout {
    font-size: 1.3em;
    padding: 1em 2em 1em 2em;
    background-color: #052659;
    color: white;
}

div.callout a {
    color: white;
    border-bottom: 1px solid white;
}

body {
    font-family: "Fira Sans", Helvetica, Arial, sans-serif;
}

section {
    padding-bottom: 4em;
}

form {
    width: 15em;
    padding: 2em;
    margin: 1em;
    border: 1px solid lightgrey;
}

form.button {
    padding-top: 1em;
}

h4 {
    padding-top: 2em;
}
